<h1>USER LIST</h1>

{{#each users}}
USER ID: {{this._id}}
<form method="GET" action="/api/users/admin/{{this._id}}">
    <button type="submit">Modify user</button>
</form>
<ul>
    <li>Name: {{this.first_name}}</li>
    <li>Email: {{this.email}} </li>
    <li>Role: {{this.role}}</li>
</ul>
{{/each}}