{{#if products.empty}}
{{products.empty}} <br>
{{else}}

{{#each products}}
<div>
    <ul>
        <li> x{{this.quantity}} {{this.title}} <button onclick="deleteThis('{{this.id}}')"> - 1 </button></li>
        <ul>
            <li> ${{this.price}} e/a </li>
        </ul>
    </ul>

</div>
{{/each}}

Total amount: {{result}}$ || <button onclick="goToPurchase()">Finish order</button> <br>

{{/if}}



<a href="/products">Go back</a> <br>

<script src="/js/purchase.js"></script>