<h1>Uploaded Products</h1>
<ul>
    {{#each products}}
    <li>{{this.filename}}</li>
    <img src="/products/{{this.filename}}">
    {{/each}}
</ul>

<h1>Uploaded Profiles</h1>
<ul>
    {{#each profiles}}
    <li>{{this.filename}}</li>
     <img src="/profiles/{{this.filename}}">
    {{/each}}
</ul>

<h1>Uploaded Documents</h1>
<ul>
    {{#each documents}}
    <li>{{this.filename}}</li>
     <img src="/documents/{{this.filename}}">
    {{/each}}
</ul>