Current role: {{role}}
{{#if show}}
<form method="POST" action="/api/users/premium/{{_id}}">
    <input type="hidden" name="role" id="role" value="PREMIUM">
    <input type="hidden" name="id" value="{{_id}}">
    <button type="submit">BECOME PREMIUM</button>
</form>
{{/if}}
<br>
<form method="POST" action="/api/users/premium/{{_id}}/clear">
    Delete your documents (back to user)
    <button type="submit">Delete credentials</button>
</form>
<br>
<h2> <a href="/api/users/{{_id}}/documents">Upload the documents and become premium</a></h2>